
*{
	box-sizing: border-box;
}
body{
	background: #171717;
	color: white;
	margin: 0 auto;
	width: 79%;
}

h3{
	font-family: Georgia, serif;
	text-shadow: 2px 4px black;
	font-size: 1em;
}

p{
	font-family: "Indie Flower", cursive;
	letter-spacing: 2px;
	text-align: center;
}

p > a{
	text-decoration: none;
	color: blue;
}

p > a:hover{
	color: white;
}

#hello-intro{
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-top: 20px;
	font-size: 2em;
	opacity: 0.4;
	text-shadow: 1px 1px black;
}

/* +++++ CONTAINERS ++++++ */

.container2, .container3, .container4{
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.container2{
	border: 1px solid black;
	justify-content: space-between;
}


section h2{
	text-align: center;
	font-size: 25px;
	font-family: "Indie Flower", cursive;
}


hr{
	width:100%;
	opacity: 0.2;
}

li{
	list-style-type: none;
}

/* +++++ HEADER/NAV ++++++ */

.header{
	height: 14vh;
	background: black;
	border-bottom: 5px #222 solid;
	position: fixed;
	width: 79%;
	z-index: 1;
}

.header > div{
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	flex-direction: row;
}

.header h1{
	font-family: "Indie Flower", cursive; 
	position: relative;
	left: 40px;
	-webkit-animation-name: animate-logo;
	        animation-name: animate-logo;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
}

@-webkit-keyframes animate-logo{
	0%{left: 0px; visibility: hidden;}
	25%{left: 10px; visibility: visible;}
	50%{left: 20px;}
	75%{left: 30px;}
	100%{left: 40px;}
}

@keyframes animate-logo{
	0%{left: 0px; visibility: hidden;}
	25%{left: 10px; visibility: visible;}
	50%{left: 20px;}
	75%{left: 30px;}
	100%{left: 40px;}
}

.header ul{
	margin-left: auto;
	margin-right: 10px;
}

.header ul li{
	float: right;
	margin-left: 10px;
	font-family: "Indie Flower", cursive; 
	font-size: 26px;
}

.header li{
	text-decoration: none;
	color: white;
	-webkit-animation-name: menu-animation;
	        animation-name: menu-animation;
	-webkit-animation-duration: 3s;
	        animation-duration: 3s;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
}

@-webkit-keyframes menu-animation{
	0%{opacity:0;}
	25%{opacity:0.3;}
	50%{opacity:0.5;}
	75%{opacity:0.7;}
	100%{opacity:1;}
}

@keyframes menu-animation{
	0%{opacity:0;}
	25%{opacity:0.3;}
	50%{opacity:0.5;}
	75%{opacity:0.7;}
	100%{opacity:1;}
}

.header li:hover, 
.header li:focus{
	color: grey;
}

.slider::after{
	content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}


.slider:hover:after,
.slider:focus:after{
	width: 100%;
}


/* +++++ ABOUT SECTION ++++++ */

#hello{
    position: relative;
    font-family: monospace;
    text-decoration: none;
    background: #171717;
    color: white;
    font-size: 1.5em;
}

.cursor{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-left: .5em solid;
    background: #171717;

    -webkit-animation: typing 6s steps(13, end) infinite,
        blinking 1s step-end infinite;
    animation: typing 6s steps(13, end) infinite,
        blinking 1s step-end infinite;
}

@-webkit-keyframes typing {
    from,to { width: 100%; }
    25% { width: 0; }
    50% { width: 0; }
    75% { width: 100%; }
}

@keyframes typing {
    from { width: 100%; }
    to { width: 0; }
}

@-webkit-keyframes blinking {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}

@keyframes blinking {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}

.about{
	width: 75%;
	padding-top: 100px;
	height: 41vh;
}

.about > hr{
	margin-top:14px;
	margin-bottom: 28px;
}

.city{
}

.city > img{
	width: 100%;
}

#cloud{
	opacity: 0.2;
	position: absolute;
	top: 170px;
	height: 68vh;
}

/* +++++ SKILLS SECTION ++++++ */

i{
	margin: 10px;
}

.skills{
	background: black;
	width: 100%;
	height: 128vh;
	text-align: center;
	padding-top: 17px;
}

.skill-icons{
	padding-top: 20px;
}

.skill-icons > i{
	-webkit-filter: grayscale(100%);
	        filter: grayscale(100%);
	font-size: 8em;
	margin: 43px;
	line-height: 160px;
}


.skill-icons > i:hover{
	-webkit-filter: grayscale(0%);
	        filter: grayscale(0%);
}


/* +++++ PROJECTS SECTION ++++++ */

.container4{
	border: 1px solid black;
}



.projects{
	width: 75%;
	height: 100vh;
	z-index: 0;
}

.project-row{
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-top: 36px;
	
}

.project-row > i{
	padding-top: 125px;
}

.project-row > div{
	text-align: center;
}

.project-row > div img{
	-webkit-filter: grayscale(100%);
	        filter: grayscale(100%);
	width: 81%;
	height: 45vh;
}

.project-row > div img:hover{
	-webkit-filter: grayscale(0%);
	        filter: grayscale(0%);
}

.swiper-container {
    width: 800px;
    height: 80vh;
}

.slide1-layer, .slide2-layer, .slide3-layer{
	height: 11vh;
	background: black;
	width: 81%;
	z-index: 1;
	opacity: 0.6;
	position: absolute;
	top: 0px;
	bottom: 0;
	left: 59px;
	right: 0;
	visibility: hidden;
}

.swiper-button-next, .swiper-button-prev{
	-webkit-filter: grayscale(100%);
	        filter: grayscale(100%);
	top: 31%;
}

.swiper-pagination-bullet-active{
	background: black;
}

.slide-info-1{

}

.slide-info-2, .slide-info-3{
	visibility: hidden;
}

/* +++++ FOOTER SECTION ++++++ */

.footer{
	height: 90vh;
	background: black;
}

.footer-row {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	padding-bottom: 50px;
	padding-top: 70px;
}


.footer-row > div{
	margin: 0 auto;

}

#contact-form{
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: column;
	align-items: center;
}

.contact > h1{
	font-family: "Indie Flower", cursive;
	text-align: center;
}

#contact-form > textarea{
	width: 313px;
	height: 40vh;
}

#contact-form input{
	margin-bottom: 10px;
	background: black;
	color: white;
	font-family: "Indie Flower", cursive; 
}

.form-row{
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.form-row > input{
	margin-left: 10px;
	width: 43%;
}


#des-input{
	width: 92%;
	height: 63px;
	color: white;
	background: black;
}

.social{
	text-align: center;
}

.social > a{
	text-decoration: none;
	color: white;
	margin: 10px;
}

.social > i{
	margin: 20px;
}

.social > h3{
	font-family: "Indie Flower", cursive; 
}

#copyright{
	font-size: .7em;
}

#cloud{
	width: 80%;
}

/* MEDIA QUERIES */

@media (max-width: 800px){
	body{
		background: #171717;
		color: white;
		margin:	auto;
		width: 100%;
	}

	.header{
		width: 100%;
	}

	.header > div{
		padding-top: 10px;
	}

	.header h1{
		font-size: 20px;
		left: 20px;
	}

	.header ul li{
		font-size: 15px;
	}

	.header > h1{
		font-size: .5em;
	}

	.container2, .container3, .container4{
		height: 120vh;
		border: none;
	}

	.city > img {
	    height: 60vh;
	}

	.about{
		padding-top: 100px;
	}

	.skills{
		height: 135vh;
		padding-top: none;
	}

	.skill-icons{
		padding-top: none;
	}

	.skill-icons > i{
		font-size: 4em;
		line-height: 100px;
	}

	.project-row > div img{
		height: 40vh;
	}

	#contact-form > textarea{
		width: 220px;
		height: 40vh;
	}

	.form-row > input{
		margin-left: 10px;
		width: 34%;
	}

	.projects{
		padding-top: 20px;
	}
}

@media (max-width: 900px){
	.skills{
		height: 125vh;
		padding-top: none;
	}
	#cloud{
		display:none;
	}
}
